body{
    font-family: 'Poppins', sans-serif;
    margin:0; 
}
h1{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
.web-dev-color{
    color: orange;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left:2%;
}
.half-width img{
    width:80%;
}
.link-btn{
    text-decoration: none;
    background-image:linear-gradient(orange,tomato);
    color: rgb(17, 11, 11);
    font-weight: 400px;
    padding: 10px 40px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    margin-top: 150px;
    margin-right: 25px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}
.box-shadow{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left:5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 20px;
    
}
.Experince{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.box1{
    border-left:7px solid;
    border-image:linear-gradient(pink,green) ;
    border-image-slice:1;
}
.box2{
    border-left:7px solid;
    border-image: linear-gradient(blue,cyan
    );
    border-image-slice: 1;
}
footer p{
    text-align: center;
    margin-top: 100px;
}